body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-slategray: #6b7280;
  --color-crimson: #dc2626;
  --color-gray-100: #1e1e1e;
  --color-gray-200: #111827;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-7xs: 6px;
}
